TARGET_ARCH=amd64
APP_NAME=app
APP_KEY=BASE64_KEY_OF_32_BYTES
ENV=dev
PORT=8000
DB_URI=postgresql://admin:admin@postgres:5432/database?sslmode=disable
WORKER_COUNT=0
JOB_TIMEOUT_MINUTES=30
REQUIRE_EMAIL_CONFIRMATION=false
SMTP_LOGIN=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=
