package app

import (
	"app/templates/components"
	"app/templates/layouts"
)

templ Dashboard() {
	@layouts.App(layouts.AppProps{
		Title: "Dashboard",
	}) {
		@components.TitleBar(components.TitleBarProps{
			Title: "Dashboard",
		})
	}
}
