package alert

import "app/templates/components/icon"

templ Error(message string) {
	@Alert(Props{
		Variant: VariantDestructive,
	}) {
		@icon.TriangleAlert()
		@Title(TitleProps{
			Class: "text-left w-min",
		}) {
			Error
		}
		@Description() {
			{ message }
		}
	}
}
